<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <%- include('common/header') %>

    <h1>Profile <%= user.name %></h1>
    <h1>Email :  <%= user.email %></h1>
    <ul>
        <% user.skils.forEach((item)=>{  %>
            <li><%= item %></li>
        <%})%>
    </ul>

</body>
</html>